<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>All docs</title>
</head>
<body>
    <% for ( var i = 0; i < docs.length; i++ ) { %>
    <div class="doc">
        <h1><a href="/doc/<%= (i + 1) %>"> <%= docs[i].name%></a></h1>
        
    </div>
    <% } %>
   
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
</body>
</html>